* {box-sizing: border-box;
}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container{
  position: relative;
  margin: auto;
  align-content: center;
}
#banner{
  width: 100%;
  height: 400px;
}

.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px){
  .text {font-size: 11px}
  }
}