
.form-container {
    background-color: #fff;
    padding: 5px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }

.form-container2 {
    background-color: #fff;
    padding: 5px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    margin: 8px 8px 8px 8px;
    }

.ajest-form{
    width: 400px;
    height: 570px;
}

.ajest-form2{
    width: 400px;
    height: 720px;
}

.ajest-form3{
    width: 600px;
    height: 420px;
}
.ajest-form4{
    width: 265px;
    height: 180px;
}

    .hedding {
        text-align: center;
        color:  #000099;
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: bold;
    }

    label {
        display: block;
        font-weight: bold;
        color:  #000099;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="number"],
    input[type="time"],
    textarea {
        width: 100%;
        padding: 8px;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    input[type="number"]:focus,
    input[type="time"]:focus,
    textarea:focus {
        outline: none;
        border-color: #007bff;
    }

    input[type="file"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    input[type="file"]:focus {
        outline: none; border-color: #007bff;
    }
    select{
        height: 35px;
    }
    select:focus{
        outline: none;
         border-color: #007bff;
    }

    .submitbtn
     {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 5px 8px 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 30%;
        font-size: 16px;
        float: right;
        margin: 0px 5px 0px 5px;
    }

    .submitbtn:hover {
        background-color: #0056b3;
    }


