#ajest-input{
width: 95%;
}
.signup-btn {
    padding: 10px;
    background-color: #00cc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
/*sign up btn with ajest 1*/
.width-ajest1{
    width: 100%;
}
/*sign up btn with ajest 2*/
.width-ajest2{
    width: 45%;
}

.signup-btn:hover {
    opacity:0.7;
}

.terms {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
.policy{
    color:#0059b3 ;
    font-weight: bold;
}

.checkbox {
    align-items: center;
    margin-top: 10px;
    color: red;
}

.checkbox input {
    margin-right: 10px;
}
p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

.social-signup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-btn {
    width: 50%;
    margin: 0 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.divid {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: gray;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.signup-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}
p > span{
    color: #0059b3;
    font-weight: bold;
    cursor: pointer;
}

/* background */
.modal {
  display: none; /* Hidden default */
  position: fixed; /* Stay place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); /* final 2 digit define opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% top, 15%  bottom, centered */
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25%;
  font-size: 40px;
  font-weight: bold;
  color: grey;
}

.close:hover{
    opacity: 0.7;
}
.close:focus {
  color: #f44336;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
}