
.main-category-box{
  font-weight: bold;
  font-size: 12px;
}

.category{
  display: flex;
  margin-left: 30%;
  margin-bottom: 40px;
}

.category-btn{;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 3px 7px 3px;
  width: 80px;
  height: 80px;
  margin: 10px 5px 0px 0px;
  font-size: 12px;

}

.logo{
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}
a{
  cursor: pointer;
}

.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 4;
}

.container{
  max-width: 1200px;
  padding: 60px;
  margin: auto;
  width: 100%;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:24px;
  justify-content: center;
  align-content: center;
}

.item-box{
  text-align: center;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 3px;
  width: 250px;
  height: 250px;
}

.pic{
  overflow: hidden;
}

.pic:hover img{
transform: scale(1.5);
}

.item-img{
  width: 150px;
  width: 150px;
  transition: 0.6s;
  aspect-ratio: 1/1;
}
.item-title{
  font-size: 16px;
  font-weight: 600;
  color:blue;
}

.item-price{
  font-weight:bold;
  color: red;
  font-size: 18px;
}

.add-cart{
  background-color: #33cc33;
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  margin-left: 15px;
}
.add-cart:hover{
  opacity: 0.7;
}


.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 3;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 8px;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.cart-item-title{
   font-size: 16px;
   color:blue;
   font-weight: bold;
}

.cart-price{
  font-weight: bold;
}

.cart-quantity{
  border:1px solid black;
  outline:none ;
  width: 30px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.total-title{
  font-weight: bold;
}

.total-price{
  margin-left: 5px;
  font-weight: bold;
  color: red;
}

.btn-buy{
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  font-size: 15px;
  background-color:orange;
  color:white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-box {
  display: none;
  width: 230px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .category {
    flex-direction: inline;
    margin: 0px 3px 2px 3px ;
  }

  .category-btn {
    min-width: 62px;
    height: 70px;
    font-size: 10px;
    margin: 0px 2px 10px 2px;
  }
  .img-cteg{
    width: 35px;
  }

  .container {
    padding: 20px;
  }
  .shop-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .item-box {
    width: 100%;
    height: auto;
  }

  .item-img {
    width: 100%;
    height: auto;
  }

  .cart {
    width: 90%;
    padding: 10px;
  }

  .cart-box {
    grid-template-columns: 40% 40% 20%;
  }

  .cart-img {
    width: 50px;
    height: 50px;
  }

  .cart-quantity {
    width: 25px;
  }

  .btn-buy {
    width: 100%;
  }
}